<div class="main-box">
  <div id="label-personal">
    <p>
      ABOUT ME
    </p>
  </div>
  <div class="container">

    <div class="boxes-container grid-16 grid-16@tablet grid-16@mobile">
      <div class="row">
        <div class="box-personal-1 grid-8 grid-16@tablet grid-16@mobile">
          <img id="zpsb-img" src="../../../assets/img/personal/ZPSB.jpg">
        </div>
        <div class="box-personal-1 grid-8 grid-16@tablet grid-16@mobile">
          <div class="heading1">
            <p>Current education</p>
          </div>
          <div class="under-heading1">
            <div class="under-heading-inner1">
              <p>I am currently a third-year IT student on the Applications and Mobile Systems specialization.
                Simultaneously with studying at the university, I work intensively every day to improve my programming
                skills by completing various assignments. Dynamic progress in the IT industry forces programmers to
                continuous development. Numerous technologies and frameworks allow developers to create increasingly
                better products that often have a real impact on the company's success. Nowadays, most companies base
                their foundations such as marketing, customer contact and sales on their applications.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="boxes-container grid-16 grid-16@tablet grid-16@mobile">
      <div class="row">
        <div class="box-personal-2 grid-5 grid-16@tablet grid-16@mobile">
          <img class="img-pum1" src="../../../assets/img/personal/absolut.jpg">
        </div>

        <div class="box-personal-2 grid-6 grid-16@tablet grid-16@mobile">
          <div class="heading2">
            <p>Past education</p>
          </div>
          <div class="under-heading2">
            <div class="under-heading-inner2">
              <p>In 2016, I graduated from physiotherapy at the Pomeranian Medical University with a Master's degree.
                Physiotherapy and a healthy lifestyle are still my passion, but I decided to develop
                professionally in a different direction, which is why I started learning at the ZPSB.</p>
            </div>
          </div>
        </div>

        <div class="box-personal-2 grid-5 grid-16@tablet grid-16@mobile">
          <img class="img-pum2" src="../../../assets/img/personal/tuptup.png">
        </div>
      </div>
    </div>

    <div class="boxes-container grid-16 grid-16@tablet grid-16@mobile">
      <div class="row">
        <div class="paralax1 grid-16 grid-16@tablet grid-16@mobile"></div>
        <div class="box-personal-3 grid-16 grid-16@tablet grid-16@mobile">
          <div class="heading3">
            <p>Passion</p>
          </div>
          <div class="under-heading3">
            <div class="under-heading-inner3">
              <p>Besides programming and designing UI/UX, I love spending my free time on outdoor training. Physical
                activity at an appropriate level allows you to keep your mind fresh and gives you lots of
                inspiration and motivation to continue working. In addition, since I was a
                child, I am a huge fan of computer games, which over time has evolved into the desire to create my own
                productions mainly for mobile devices.</p>
            </div>
          </div>
        </div>
        <div class="paralax2 grid-16 grid-16@tablet grid-16@mobile"></div>
        <!-- <div class="box-personal-3 grid-16 grid-16@tablet grid-16@mobile">
          <img src="../../../assets/img/personal/handstand.jpg">
        </div> -->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="workshop-box grid-16 grid-16@tablet grid-16@mobile">
    <img class="work-img-1" src="../../../assets/img/icons/workshop1.png">
    <p>WORKSHOP</p>
    <img class="work-img-2" src="../../../assets/img/icons/workshop2.png">
  </div>
</div>


<div class="main-box">
  <div id="label-web">
    <p>
      WEB DEVELOPMENT
    </p>
  </div>
  <div class="container">

    <div class="boxes-container grid-16 grid-16@tablet grid-16@mobile">
      <div class="row">

        <!-- <div class="temp-icon1"><img src="../../../assets/img/icons/web-bg.png"></div> -->

        <!-- <div class="grid-1 grid-16@tablet grid-16@mobile"></div> -->

        <div class="box1 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>GRAPHIC DESIGN</p>
          </div>
          <div class="icon graphic">
            <img src="../../../assets/img/icons/graphic.png">
          </div>
          <div class="list">
            <ul>
              <li>Adobe Photoshop</li>
            </ul>
          </div>
        </div>

        <div class="box1 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>DEVELOPMENT</p>
          </div>
          <div class="icon development">
            <img src="../../../assets/img/icons/development.png">
          </div>
          <div class="list">
            <!-- <p>Adobe Photoshop</p> -->
            <ul>
              <li>Angular 6</li>
              <li>Git</li>
              <li>Django</li>
              <li>Firebase</li>
            </ul>
            <ul>
              <li>HTML / CSS</li>
              <li>jQuery</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>SQL</li>
            </ul>
          </div>
        </div>

        <div class="box1 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>FINALIZATION</p>
          </div>
          <div class="icon finalization">
            <img src="../../../assets/img/icons/final.png">
          </div>
          <div class="list">
            <ul>
              <li>Advanced CMS</li>
              <li>RWD</li>
              <li>Real-time database</li>
              <li>Easy refactoring possibility</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-box">
  <div id="label-game">
    <p>
      GAME DEVELOPMENT
    </p>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <div class="boxes-container grid-16 grid-16@tablet grid-16@mobile">
      <div class="row">

        <!-- <div class="temp-icon2"><img src="../../../assets/img/icons/game-bg.png"></div> -->

        <!-- <div class="grid-1 grid-12@tablet grid-16@mobile"></div> -->

        <div class="box2 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>GRAPHIC DESIGN</p>
          </div>
          <div class="icon graphic">
            <img src="../../../assets/img/icons/paint-palette.png">
          </div>
          <div class="list">
            <ul>
              <li>Adobe Photoshop</li>
              <li>Blender</li>
            </ul>
          </div>
        </div>

        <div class="box2 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>DEVELOPMENT</p>
          </div>
          <div class="icon development">
            <img src="../../../assets/img/icons/unity.png">
          </div>
          <div class="list">
            <!-- <p>Adobe Photoshop</p> -->
            <ul>
              <li>Unity</li>
              <li>Firebase</li>
            </ul>
            <ul>
              <li>C#</li>
            </ul>
          </div>
        </div>

        <div class="box2 grid-4 grid-16@tablet grid-16@mobile">
          <div class="title">
            <p>FINALIZATION</p>
          </div>
          <div class="icon finalization">
            <img src="../../../assets/img/icons/console.png">
          </div>
          <div class="list">
            <ul>
              <li>Cross platform</li>
              <li>Android | iOS | PC</li>
            </ul>
            <ul>
              <li>Monetization system</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
