.main-box {
  // height: 1000px;
  background-color: #272424;
  padding: 5rem 0 5rem 0;
  margin-top: 10rem;
  overflow: hidden;

  .boxes-container {
    padding: 1rem;
    // position: relative;
    margin-top: 5rem;
    overflow: hidden;

    .temp-icon1,
    .temp-icon2 {
      position: absolute;
      height: 600px;

    }

    .temp-icon1 {
      left: 40%;

      >img {
        width: 70%;
      }
    }

    .temp-icon2 {
      right: 40%;

      >img {
        width: 70%;
      }
    }

    .box-personal-1,
    .box-personal-2,
    .box-personal-3 {
      position: relative;
      background-color: #221f1f;
      overflow: hidden;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
      }

      .img-pum1 {
        position: relative;
        left: -110%;
      }

      .img-pum2 {
        position: relative;
        right: -110%;
      }

      .heading1,
      .heading2,
      .heading3 {
        position: relative;
        font-size: 20px;
        border-bottom: 2px solid #445e93;
        padding-bottom: 1rem;
        display: block;

        >p {
          color: white;
          text-align: center;
        }
      }

      .under-heading1,
      .under-heading2,
      .under-heading3 {
        overflow: hidden;
        padding-top: 1rem;

        .under-heading-inner1,
        .under-heading-inner2,
        .under-heading-inner3 {
          position: relative;
          top: -600px;

          >p {
            // font-size: 1vw;
            line-height: 23px;
            letter-spacing: 3px;
            font-weight: 300;
            font-family: 'Raleway', sans-serif;
            color: white;
            text-align: justify;
          }
        }
      }
    }

    .box-personal-1 {
      // height: 200px;
      padding: 1rem;

      #zpsb-img {
        transform: scale(0.001);
        transition: 1s;
      }
    }

    .box-personal-2 {
      // height: 600px;
      padding: 1rem;
    }

    .box-personal-3 {
      position: relative;
      // height: 500px;
      padding: 2rem 1rem;
    }

    .paralax1,
    .paralax2 {
      height: 400px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .paralax1 {
      background-image: url("../../../assets/img/personal/holiday.jpg");
      background-position: center;
    }

    .paralax2 {
      background-image: url("../../../assets/img/personal/handstand.jpg");
      background-position: right;
    }

    .box1,
    .box2 {
      position: relative;
      height: 600px;
      margin: 0 auto;
      background-color: #221f1f;
      overflow: hidden;
      margin-bottom: 1rem;

      .title>p {
        // font-size: 1vw;
        line-height: 20px;
        letter-spacing: 3px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        color: white;
        text-align: center;
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .icon {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .graphic {
        background-color: #f7b32b;
      }

      .development {
        background-color: #6c0e23;
      }

      .finalization {
        background-color: #445e93;
      }

      .icon>img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .list {
        position: relative;
        margin-top: 15rem;
        text-align: center;

        ul {
          margin-bottom: 3rem;

          li {
            color: white;
            margin-bottom: 15px;
            // font-size: 1vw;
            letter-spacing: 2px;
            font-weight: 300;
            font-family: 'Raleway', sans-serif;
          }
        }
      }
    }

    .box1 {
      right: -2200px;
    }

    .box2 {
      left: -2200px;
    }
  }
}

#label-web {
  position: relative;
  height: 80px;
  width: 40%;
  background-color: #6c0e23;
  left: -900px;
  padding: 1rem;
}

#label-game {
  position: relative;
  height: 80px;
  width: 40%;
  background-color: #6c0e23;
  float: right;
  clear: both;
  overflow: auto;
  right: -900px;
}

#label-personal {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #6c0e23;
  // left: -900px;
  top: -300px;
}

#label-web>p,
#label-game>p,
#label-personal>p {
  // font-size: 1.1vw;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: white;
  // height: 150px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix {
  clear: both;
}


.workshop-box {
  margin-top: 10rem;
  // height: 200px;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 1rem;
  background-color: #445e93;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  top: 0;
  transition: 1s;


  .work-img-1,
  .work-img-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .work-img-1 {
    left: 2%;
    // margin-top: 50%;
  }

  .work-img-2 {
    right: 2%;
  }

  p {
    position: relative;
    font-size: 4vw;
    // line-height: 20px;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: auto;
    backface-visibility: hidden;
  }
}

@media (max-width: 1024px) {

  .work-img-1,
  .work-img-2 {
    width: 10%;
  }

  #label-web {
    width: 200px;
  }

  #label-game {
    width: 200px;
  }
}
