<div class="container">
  <div class="container-inner">
    <div class="row">
      <div class="logo-box1 grid-4 grid-4@tablet grid-4mobile">
        <img class="logo1" src="../../../assets/img/main/5847f40ecef1014c0b5e488a.png">
      </div>
      <div class="logo-box2 grid-4 grid-4@tablet grid-4mobile">
        <img class="logo2" src="../../../assets/img/main/angular.png">
      </div>
      <div class="logo-box3 grid-4 grid-4@tablet grid-4mobile">
        <img class="logo3" src="../../../assets/img/main/unity-logo-white-png-5.png">
      </div>
      <div class="logo-box4 grid-4 grid-4@tablet grid-4mobile">
        <img class="logo4" src="../../../assets/img/main/Git-Icon-1788C.png">
      </div>
    </div>
    <div class="photo-container grid-16 grid-16@tablet grid-16mobile">
      <img src="../../../assets/img/main/560277.png">
    </div>
  </div>
</div>
