
.container-inner {
  position: relative;
  top: 300px;
  min-height: 100%;
}

.photo-container {
  width: 100%;
  // background-color: #272424;
  position: relative;

  >img {
    position: relative;
    display: block;
    margin: auto;
    z-index: 0;
    max-width: 100%;
    // width: 100%;
  }
}

.logo-box1,
.logo-box2,
.logo-box3,
.logo-box4 {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  >img {
    position: relative;
    width: 70%;
    // max-height: 200px;
    transition: 1s;
  }
}

.logo-box1 {
  z-index: 1;

  >img {
    top: 150px;
    left: -100%;
    animation: round-1 7s linear infinite;
  }
}

.logo-box2 {
  z-index: 1;

  >img {
    // top: 0;
    // left: 0;
    animation: round-2 7s linear infinite;
  }
}

.logo-box3 {
  z-index: 1;

  >img {
    top: 150px;
    left: 100%;
    animation: round-3 7s linear infinite;
  }
}

.logo-box4 {
  z-index: 1;

  >img {
    top: 300px;
    left: 0;
    animation: round-4 7s linear infinite;
  }
}


@keyframes round-1 {
  0% {
    top: 0;
    left: -100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  12% {
    // top: -100px;
    top: -50px;
    left: -50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  24% {
    // top: -200px;
    top: -100px;
    left: 0;
    transform: scale(0.4);
    -webkit-animation: scale(0.4);
  }

  36% {
    // top: -100px;
    top: -50px;
    left: 50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  48% {
    top: 0;
    left: 100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  60% {
    // top: 100px;
    top: 50px;
    left: 50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  72% {
    // top: 200px;
    top: 100px;
    left: 0;
    transform: scale(1);
    -webkit-animation: scale(1);
  }

  84% {
    // top: 100px;
    top: 50px;
    left: -50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  100% {
    top: 0;
    left: -100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }
}


@keyframes round-2 {
  0% {
    // top: -200px;
    top: -100px;
    left: 0;
    transform: scale(0.4);
    -webkit-animation: scale(0.4);
  }

  12% {
    // top: -100px;
    top: -50px;
    left: 50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  24% {
    top: 0;
    left: 100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  36% {
    // top: 100px;
    top: 50px;
    left: 50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  48% {
    // top: 200px;
    top: 100px;
    left: 0;
    transform: scale(1);
    -webkit-animation: scale(1);
  }

  60% {
    // top: 100px;
    top: 50px;
    left: -50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  72% {
    top: 0;
    left: -100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  84% {
    // top: -100px;
    top: -50px;
    left: -50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  100% {
    // top: -200px;
    top: -100px;
    left: 0;
    transform: scale(0.4);
    -webkit-animation: scale(0.4);
  }
}

@keyframes round-3 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  12% {
    // top: 100px;
    top: 50px;
    left: 50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  24% {
    // top: 200px;
    top: 100px;
    left: 0;
    transform: scale(1);
    -webkit-animation: scale(1);
  }

  36% {
    // top: 100px;
    top: 50px;
    left: -50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  48% {
    top: 0;
    left: -100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  60% {
    // top: -100px;
    top: -50px;
    left: -50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  72% {
    // top: -200px;
    top: -100px;
    left: 0;
    transform: scale(0.4);
    -webkit-animation: scale(0.4);
  }

  84% {
    // top: -100px;
    top: -50px;
    left: 50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  100% {
    top: 0;
    left: 100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }
}

@keyframes round-4 {
  0% {
    // top: 200px;
    top: 100px;
    left: 0;
    transform: scale(1);
    -webkit-animation: scale(1);
  }

  12% {
    // top: 100px;
    top: 50px;
    left: -50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  24% {
    top: 0;
    left: -100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  36% {
    // top: -100px;
    top: -50px;
    left: -50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  48% {
    // top: -200px;
    top: -100px;
    left: 0;
    transform: scale(0.4);
    -webkit-animation: scale(0.4);
  }

  60% {
    // top: -100px;
    top: -50px;
    left: 50%;
    transform: scale(0.5);
    -webkit-animation: scale(0.5);
  }

  72% {
    top: 0;
    left: 100%;
    transform: scale(0.7);
    -webkit-animation: scale(0.7);
  }

  84% {
    // top: 100px;
    top: 50px;
    left: 50%;
    transform: scale(0.8);
    -webkit-animation: scale(0.8);
  }

  100% {
    // top: 200px;
    top: 100px;
    left: 0;
    transform: scale(1);
    -webkit-animation: scale(1);
  }
}
