.outer {
  display: none;
}

#cancel {
  position: absolute;
  top: 1%;
  right: 1%;
  color: white;
  z-index: 4;
  cursor: pointer;
  font-size: 40px;
}

.inner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 1600px;
  background-color: rgba(99, 99, 99, 0.7);
  z-index: 3;
  padding: 1rem;

  img {
    position: fixed;
    max-height: 95%;
    max-width: 95%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


  }
}
