<!-- OFERTA 1 -->
<div id="height-box">

  <div class="offer1">
    <div class="inner1">
      <div class="fizjo-nature-box">
        <div class="box-title1">
          <a href="https://fizjonature.pl">
            <p>FIZJONATURE.PL</p>
          </a>
        </div>
        <div class="container">
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <div class="row">
              <div class="grid-8 grid-8@tablet grid-16@mobile">
                <div class="monitor">
                  <img src="../../../assets/img/web3/Group 4 copy.png">
                </div>
              </div>
              <div class="grid-6 grid-6@tablet grid-16@mobile">
                <div class="tablet">
                  <img src="../../../assets/img/web3/Group 5 copy.png">
                </div>
              </div>
              <div class="grid-2 grid-2@tablet grid-16@mobile">
                <div class="phone">
                  <img src="../../../assets/img/web3/Group 6 copy.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offer1">
    <div class="inner1">
      <div class="fizjo-nature-box2">
        <!-- <div class="box-title1">
          <a href="https://fizjonature.pl">
            <p>FIZJONATURE.PL</p>
          </a>
        </div> -->
        <div class="container">
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <img src="../../../assets/img/web3/admin-panel.jpg">
          </div>
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <img src="../../../assets/img/web3/admin-panel2.jpg">
          </div>
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <img src="../../../assets/img/web3/map.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="offer1">
    <div class="inner1">
      <div class="fizjo-design-box">
        <!-- <div class="label-bg blue"></div> -->
        <div class="box-title2">
          <p>Fizjo<small> | graphic design</small></p>
        </div>
        <div class="container">
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <div class="row">
              <div class="grid-8 grid-16@tablet grid-16@mobile">
                <div class="monitor-single">
                  <img src="../../../assets/img/web1/monitor.png">
                </div>
              </div>
              <div class="pages grid-7 grid-16@tablet grid-16@mobile">
                <div class="row">
                  <div class="item">
                    <img src="../../../assets/img/web1/ProjektMari blog short.jpg" (click)="togglePhoto(0, 'web')">
                  </div>
                  <div class="item">
                    <img src="../../../assets/img/web1/ProjektMari oferta.jpg" (click)="togglePhoto(1, 'web')">
                  </div>
                  <div class="item">
                    <img src="../../../assets/img/web1/ProjektMari mainPage short.jpg" (click)="togglePhoto(2, 'web')">
                  </div>
                  <div class="item">
                    <img src="../../../assets/img/web1/ProjektMari mainPage short2.jpg" (click)="togglePhoto(3, 'web')">
                  </div>
                  <div class="item">
                    <img src="../../../assets/img/web1/ProjektMari oMnie short.jpg" (click)="togglePhoto(4, 'web')">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offer1">
    <div class="inner1">
      <div class="web-three">
        <div class="box-title3">
          <p>Trenerzy PZPS<small> | graphic design</small></p>
        </div>
        <!-- <div class="label-bg yellow">
          <div class="icon-left">
            <img src="../../../assets/img/web2/volleyball.png">
          </div>
          <div class="icon-right">
            <img src="../../../assets/img/web2/coach.png">
          </div>
        </div> -->
        <div class="container">
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <div class="web3-element">
              <img src="../../../assets/img/web2/trenerzy.jpg">
            </div>
          </div>
        </div>
        <!-- <div class="label-bg yellow">
          <div class="icon-left">
            <img src="../../../assets/img/web2/volleyball.png">
          </div>
          <div class="icon-right">
            <img src="../../../assets/img/web2/coach.png">
          </div>
        </div> -->
      </div>
    </div>
  </div>


  <!-- OFERTA 2 -->
  <div class="container">
    <div class="offer2">
      <div class="inner2">
        <app-work-details-graphics></app-work-details-graphics>
      </div>
    </div>
  </div>


  <!-- OFERTA 3 -->

  <div class="offer3">
    <div class="inner3">
      <app-work-details-games></app-work-details-games>
    </div>
  </div>
</div>
