@import "../../../assets/styles/_variables.scss";

p {
  line-height: 1.8;
  margin: 1rem 0 1rem 0;
}

.item {
  position: relative;
  transition: 0.5s;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;

  >img {
    width: 200px;
    cursor: pointer;
  }

  &:hover {}
}

.pages {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.monitor-single {
  position: relative;
  padding: 1rem;

  >img {
    width: 100%;
  }
}

.monitor {
  position: absolute;
  top: 15%;
  left: 9%;

  >img {
    width: 80%;
  }
}

.tablet {
  position: absolute;
  top: 35%;

  >img {
    width: 90%;
  }
}

.phone {
  position: absolute;
  bottom: 5%;
  left: 40%;

  >img {
    width: 65%;
  }
}

.label-bg {
  position: relative;
  // left: 0;
  // // top: 50%;
  // bottom: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 100px;
  margin: 1rem 0;
  z-index: 2;
}

.blue {
  background-color: #445e93;
}

.yellow {
  background-color: #f7b32b;
}




.web2-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: #f7b32b;
  padding: 0;
  transition: 0.2s;

  >img {
    height: 500px;
    z-index: 1;
  }

  &:hover {
    padding: 1rem;
  }
}


.icon-left>img {
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.icon-right>img {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.offer1,
.offer2,
.offer3,
.offer4,
.offer5,
.offer6 {
  padding: 2rem;
  width: 100%;
  display: block;
  overflow: hidden;
  display: none;
}

.inner1,
.inner2,
.inner3,
.inner4,
.inner5,
.inner6 {

  position: relative;
  right: -1900px;
  display: none;
  padding: 1rem;
  border-radius: 7px;
}

.box-title1,
.box-title2,
.box-title3 {
  width: 100%;
  padding: 1rem;
  border-radius: 7px 7px 0 0;

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
    // font-size: 1.3vw;
    letter-spacing: 3px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: white;

  }
}

.box-title1 {
  background-color: #6c0e23;
}

.box-title2 {
  background-color: #6c0e23;
}

.box-title3 {
  background-color: #6c0e23;
}

.fizjo-nature-box {
  height: 900px;
  background-color: #272424;
  border-radius: 7px;
}

.fizjo-design-box {
  height: auto;
  background-color: #272424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}

.web-three, .fizjo-nature-box2 {
  // height: auto;
  background-color: #272424;
  border-radius: 7px;
}

.fizjo-nature-box2 {
  img {
    width: 100%;
    padding: 2rem;
  }
}

.web3-element {
  width: 100%;
  position: relative;
  background-color: #272424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  >img {
    // cursor: pointer;
    width: 80%;
    margin: 2rem auto;
    z-index: 1;
    transition: 1s;
  }
}

#height-box {
  width: 100%;
  min-height: 900px;
  display: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}



// .photo {
//   background-color: #272424;
//   height: 100%;
//   transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;

//   .anim-box {
//     background: #6c0e23;
//     position: relative;
//     z-index: 2;
//     &::after {
//       content: '';
//       background: #6c0e23;
//       transition: height 0.25s;
//       z-index: 2;
//       height: 0;
//       // opacity: 0.5;
//     }

//     &:hover::after {
//       height: 400px;
//     }

//     >img {
//       width: 100%;
//       padding: 0 1rem 1rem 0;
//       // &::after {
//       //   content: '';
//       //   width: 100%;
//       //   height: 300px;
//       //   background: #6c0e23;
//       //   transition: height 0.25s;
//       //   z-index: 2;
//       //   // opacity: 0.5;
//       // }

//       // &:hover::after {
//       //   height: 400px;
//       // }
//     }

//   }


// }


@media (max-width: 1400px) {
  .phone {
    >img {
      width: 45%;
    }
  }

  .fizjo-design-box {
    height: auto;
  }
}

@media (max-width: 768px) {
  .fizjo-nature-box {
    // top: 10%;
    height: auto;
  }

  .monitor {
    position: relative;
    // top: 30%;
    top: auto;
    left: auto;

    >img {
      display: block;
      margin: 3rem auto;
    }
  }

  .tablet {
    position: relative;
    // top: 50%;
    top: auto;
    left: auto;

    >img {
      display: block;
      margin: 3rem auto;
    }
  }

  .phone {
    position: relative;
    // top: 50%;
    bottom: auto;
    left: auto;

    >img {
      display: block;
      margin: 3rem auto;
    }
  }
}
