// OFERTA 2

.photo {
  height: 100%;
  position: relative;
  margin: 0 auto;

  .anim-box {
    margin-bottom: 1rem;
    overflow: hidden;

    >img {
      width: 100%;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
