<div class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="row">
    <div class="photo grid-5 grid-5@tablet grid-16@mobile">
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/1.jpg" (click)="togglePhoto(0, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/2.jpg" (click)="togglePhoto(1, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/5.jpg" (click)="togglePhoto(4, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/4.jpg" (click)="togglePhoto(3, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/6.jpg" (click)="togglePhoto(5, 'graphics')">
      </div>
    </div>
    <div class="photo grid-5 grid-5@tablet grid-16@mobile">
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/a3_poziom_oboz_2018_najnowsze_rgb.jpg" (click)="togglePhoto(6, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/oboz2_fb_najnowsze.jpg" (click)="togglePhoto(7, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/future camp3.jpg" (click)="togglePhoto(8, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/tło2.jpg" (click)="togglePhoto(9, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/subsss.png" (click)="togglePhoto(10, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row1/3.jpg" (click)="togglePhoto(2, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row2/a3.jpg" (click)="togglePhoto(11, 'graphics')">
      </div>
    </div>
    <div class="photo grid-5 grid-5@tablet grid-16@mobile">
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row3/warsztaty dla biegaczy 6.jpg" (click)="togglePhoto(12, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row3/3_9.jpg" (click)="togglePhoto(13, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row3/schudnij 3.jpg" (click)="togglePhoto(14, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row3/Untitled-4.jpg" (click)="togglePhoto(15, 'graphics')">
      </div>
      <div class="anim-box">
        <img src="../../../assets/img/graphics/row3/a7-1.jpg" (click)="togglePhoto(16, 'graphics')">
      </div>
    </div>
  </div>
</div>
