@import "../../../assets/styles/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

.text {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 3px;
}


.icon-up,
.icon-btm {
  padding: 2rem;
  position: absolute;
  height: 190px;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  >img {
    display: block;
    position: relative;
    margin: auto auto;
    max-width: 90%;
    // left: 50%;
    // transform: translate(-50%);
    // top: 45px;
  }
}

.icon-web {
  background-color: #f7b32b;
}

.icon-graphic {
  background-color: #6c0e23;
}

.icon-game {
  background-color: #445e93;
}

.txt-web {
  // color: #f7b32b;
  color: white;
}

.txt-graphic {
  // color: #6c0e23;
  color: white;
}

.txt-game {
  // color: #445e93;
  color: white;
}

.icon-up {
  top: -170px;
}

.icon-btm {
  bottom: -170px;
}

// .icon-up>img,
// .icon-btm>img {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
//   top: 45px;
// }

.element {
  // -webkit-transform-origin: 50% 50%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  // display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
}

.pen {
  width: 100%;
  margin-bottom: 15rem;
  // position: relative;
  // left: 53%;
  // margin-right: -50%;
  // transform: translate(-50%);
}

.element {
  width: 100%;
}

@media (max-width: 768px) {
  .text {
    font-size: 10px;
  }
}

#phone {
  &:hover {
    -webkit-animation: shake-phone 1s ease-in-out infinite;
    animation: shake-phone 1s ease-in-out infinite;
  }
}

#computer {
  &:hover {
    -webkit-animation: move 1.5s linear infinite;
    animation: move 1.5s linear infinite;
  }
}

#paint {
  &:hover {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
  }
}

#head {
  &:hover {
    -webkit-animation: rotate-x 2s linear infinite;
    animation: rotate-x 2s linear infinite;
  }
}

#pad {
  &:hover {
    -webkit-animation: resize 1.5s linear infinite;
    animation: resize 1.5s linear infinite;
  }
}

#rocket {
  &:hover {
    -webkit-animation: fly 3s linear infinite;
    animation: fly 3s linear infinite;
  }
}

@keyframes resize {
  0% {
    transform: scale(1.0) rotate(0deg);
    -ms-transform: scale(1.0) rotate(0deg);
    -webkit-transform: scale(1.0) rotate(0deg);
  }

  25% {
    transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
  }

  50% {
    transform: scale(1.2) rotate(20deg);
    -ms-transform: scale(1.2) rotate(20deg);
    -webkit-transform: scale(1.2) rotate(20deg);
  }

  75% {
    transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1.0) rotate(0deg);
    -ms-transform: scale(1.0) rotate(0deg);
    -webkit-transform: scale(1.0) rotate(0deg);
  }
}

@keyframes fly {
  0% {
    transform: scale(1.0) rotate(0deg);
    -ms-transform: scale(1.0) rotate(0deg);
    -webkit-transform: scale(1.0) rotate(0deg);
    top: 0px;
    left: 0px;
  }

  8% {
    transform: scale(1.0) rotate(40deg);
    -ms-transform: scale(1.0) rotate(40deg);
    -webkit-transform: scale(1.0) rotate(40deg);
    top: -30px;
    left: 50px;
  }

  // 16% {
  //   transform: scale(1.0) rotate(90deg);
  //   -ms-transform: scale(1.0) rotate(90deg);
  //   -webkit-transform: scale(1.0) rotate(90deg);
  //   top: -30px;
  //   left: 30px;
  // }

  24% {
    transform: scale(1.0) rotate(130deg);
    -ms-transform: scale(1.0) rotate(130deg);
    -webkit-transform: scale(1.0) rotate(130deg);
    top: -20px;
    left: 75px;
  }

  32% {
    transform: scale(1.0) rotate(180deg);
    -ms-transform: scale(1.0) rotate(180deg);
    -webkit-transform: scale(1.0) rotate(180deg);
    top: 0px;
    left: 100px;
  }

  40% {
    transform: scale(1.0) rotate(220deg);
    -ms-transform: scale(1.0) rotate(220deg);
    -webkit-transform: scale(1.0) rotate(220deg);
    top: 20px;
    left: 75px;
  }

  48% {
    transform: scale(1.0) rotate(210deg);
    -ms-transform: scale(1.0) rotate(210deg);
    -webkit-transform: scale(1.0) rotate(210deg);
    top: 30px;
    left: 50px;
  }

  56% {
    transform: scale(1.0) rotate(270deg);
    -ms-transform: scale(1.0) rotate(270deg);
    -webkit-transform: scale(1.0) rotate(270deg);
    top: 0px;
    left: 0px;
  }

  64% {
    transform: scale(1.0) rotate(220deg);
    -ms-transform: scale(1.0) rotate(220deg);
    -webkit-transform: scale(1.0) rotate(220deg);
    top: -30px;
    left: -50px;
  }

  72% {
    transform: scale(1.0) rotate(180deg);
    -ms-transform: scale(1.0) rotate(180deg);
    -webkit-transform: scale(1.0) rotate(180deg);
    top: -20px;
    left: -75px;
  }

  80% {
    transform: scale(1.0) rotate(130deg);
    -ms-transform: scale(1.0) rotate(130deg);
    -webkit-transform: scale(1.0) rotate(130deg);
    top: 0px;
    left: -100px;
  }

  88% {
    transform: scale(1.0) rotate(90deg);
    -ms-transform: scale(1.0) rotate(90deg);
    -webkit-transform: scale(1.0) rotate(90deg);
    top: 20px;
    left: -75px;
  }

  96% {
    transform: scale(1.0) rotate(40deg);
    -ms-transform: scale(1.0) rotate(40deg);
    -webkit-transform: scale(1.0) rotate(40deg);
    top: 30px;
    left: -50px;
  }

  100% {
    transform: scale(1.0) rotate(0deg);
    -ms-transform: scale(1.0) rotate(0deg);
    -webkit-transform: scale(1.0) rotate(0deg);
    top: 0px;
    left: 0px;
  }
}

@keyframes move {
  0% {
    left: 0px;
    transform: scale(1, 1);
  }

  25% {
    left: 30px;
    transform: scale(0.9, 1);
  }

  50% {
    left: 0px;
    transform: scale(1, 1);
  }

  75% {
    left: -30px;
    transform: scale(0.9, 1);
  }

  100% {
    left: 0px;
    transform: scale(1, 1);
  }
}

@keyframes rotate-x {
  0% {
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  50% {
    -ms-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }

  55%,
  100% {
    -ms-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  30%,
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake-phone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  5% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  10% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  15% {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  30% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  35% {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40%,
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}
