<app-light-box></app-light-box>
<section class="container">
  <div class="grid-16 grid-16@tablet grid-16@mobile">
    <div class="pen grid-16 grid-16@tablet grid-16@mobile">
      <!-- <div class="grid-1 grid-5@tablet grid-16@mobile"></div> -->
      <div class="row">
        <div class="element grid-5 grid-5@tablet grid-5@mobile" (click)="openOffer(1)">
          <div class="content">
            <div class="icon-up icon-web">
              <img id="phone" src="../../../assets/img/icons/webdevup.png">
            </div>
            <div class="text txt-web">WEB DEVELOPMENT</div>
            <div class="icon-btm icon-web">
              <img id="computer" src="../../../assets/img/icons/webdevbtm.png">
            </div>
          </div>
        </div>
        <div class="element grid-5 grid-5@tablet grid-5@mobile" (click)="openOffer(2)">
          <div class="content">
            <div class="icon-up icon-graphic">
              <img id="paint" src="../../../assets/img/icons/graphicup.png">
            </div>
            <div class="text txt-graphic">GRAPHICS</div>
            <div class="icon-btm icon-graphic">
              <img id="head" src="../../../assets/img/icons/graphicbtm.png">
            </div>
          </div>
        </div>
        <div class="element grid-5 grid-5@tablet grid-5@mobile" (click)="openOffer(3)">
          <div class="content">
            <div class="icon-up icon-game">
              <img id="rocket" src="../../../assets/img/icons/gameup.png">
            </div>
            <div class="text txt-game">GAME DEVELOPMENT</div>
            <div class="icon-btm icon-game">
              <img id="pad" src="../../../assets/img/icons/gamebtm.png">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<div class="grid-16 grid-16@tablet grid-16@mobile">
  <app-work-details [offer]="offerToDisplay"></app-work-details>
</div>
