.box1,
.box2 {
  background-color: #272424;

  .title1,
  .title2 {
    width: 100%;
    padding: 2rem;
    margin: 1rem 0 1rem 0;

    >p {
      text-align: center;
      color: white;
      font-weight: 300;
      // font-size: 1.3vw;
      font-family: 'Raleway', sans-serif;
    }
  }

  .title1 {
    background-color: #6c0e23;
  }

  .title2 {
    background-color: #445e93;
  }

  .download-icon {
    position: relative;
    display: block;
    margin: auto;
    width: 150px;
    img {
      width: 150px;
    }

    &:hover {
      -webkit-animation: mymove 2s linear infinite;
      animation: mymove 2s linear infinite;
    }
  }

  .photo1,
  .photo2 {
    display: flex;
    justify-content: center;

    >img {
      max-width: 80%;
      max-height: 600px;
      margin: 7rem auto;
      cursor: pointer;
    }
  }

  .gif1 {
    display: flex;
    justify-content: center;

    >img {
      max-width: 80%;
      margin: 1rem auto;
      cursor: pointer;
    }
  }
}


@keyframes mymove {
  0% {
    transform: scale(1.0);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}
