<div class="container">
  <div class="box1">
    <div class="title1">
      <p>
        TURBO ALIEN <small>(alpha)</small>
      </p>
    </div>
    <div class="row">
      <div class="photo1 grid-8 grid-16@tablet grid-16@mobile">
        <img src="../../../assets/img/game/turbo1.jpg" (click)="togglePhoto(0, 'game')">
      </div>
      <div class="photo1 grid-8 grid-16@tablet grid-16@mobile">
        <img src="../../../assets/img/game/code1.png" (click)="togglePhoto(1, 'game')">
      </div>
    </div>

    <div class="gif1 grid-16 grid-16@tablet grid-16@mobile">
      <img src="../../../assets/img/game/turbo-alien.gif" (click)="togglePhoto(2, 'game')">
    </div>
    <div class="row">
      <div class="photo2 grid-8 grid-16@tablet grid-16@mobile">
        <img src="../../../assets/img/game/game2.jpg" (click)="togglePhoto(3, 'game')">
      </div>
      <div class="photo2 grid-8 grid-16@tablet grid-16@mobile">
        <img src="../../../assets/img/game/turbo2.jpg" (click)="togglePhoto(4, 'game')">
      </div>
    </div>
    <div class="photo2 grid-16 grid-16@tablet grid-16@mobile">
      <img src="../../../assets/img/game/game3.jpg" (click)="togglePhoto(5, 'game')">
    </div>
    <div class="download-icon">
      <a href="https://ufile.io/hd2an"><img src="../../../assets/img/icons/cloud-storage-download.png"></a>
    </div>


  </div>

  <div class="box2">
    <div class="title2">
      <p>
        Orc Gladiator <small>(in development)</small>
      </p>
    </div>
    <div class="photo2 grid-16 grid-16@tablet grid-16@mobile">
      <img src="../../../assets/img/game/orc.jpg" (click)="togglePhoto(6, 'game')">
    </div>
  </div>

</div>
