// GÓRNA BELKA

.label-outer {
  margin-bottom: 15rem;
  overflow: hidden;
}

// .label-inner {
//   position: relative;
//   width: 50%;
//   height: 200px;
//   left: -1200px;
// }



.label-inner {
  width: 0;
  height: 200px;
}

.label-work {
  background-color: #445e93;
}

.label-about {
  background-color: #6c0e23;
}

.label-contact {
  background-color: #f7b32b;
}

.elements-work,
.elements-about,
.elements-contact {
  display: none;
}

.label-icon {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -400px;

  >img {
    width: 50%;
    margin: auto;
  }
}

.title {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 400px;

  p {
    font-size: 5vw;
    letter-spacing: 3px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
}

.inactive {
  display: none;
}

// GÓRNA BELKA



