<div class="label-outer">
  <div class="label-inner">

    <div class="elements-work inactive">
      <div class="container">
        <div class="row">
          <div class="label-icon grid-5 grid-5@tablet grid-5@mobile">
            <img src="../../../assets/img/icons/work.png">
          </div>
          <div class="title grid-11 grid-11@tablet grid-11@mobile">
            <p>WORK</p>
          </div>
        </div>
      </div>
    </div>

    <div class="elements-about inactive row">
      <div class="container">
        <div class="row">
          <div class="label-icon grid-5 grid-5@tablet grid-5@mobile">
            <img src="../../../assets/img/icons/head.png">
          </div>
          <div class="title grid-11 grid-11@tablet grid-11@mobile">
            <p>ABOUT</p>
          </div>
        </div>
      </div>
    </div>

    <div class="elements-contact inactive">
      <div class="container">
        <div class="row">
          <div class="label-icon grid-5 grid-5@tablet grid-5@mobile">
            <img src="../../../assets/img/icons/work.png">
          </div>
          <div class="title grid-11 grid-11@tablet grid-11@mobile">
            <p>CONTACT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
