@import "../../../assets/styles/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

:host {
  display: block;
  // background-color: beige;
  margin-bottom: 15rem;
}

.outer-nav {
  height: 100px;
}

.outer-nav-mobile {
  display: none;
}

.icon-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  img {
    display: block;
    height: 50px;
    color: white;
    margin: auto;
    outline: none;
    cursor: pointer;
  }
}


.nav-btn {
  outline: 0;
  position: relative;
  z-index: 1;
  height: 100px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: height 2s;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #6c0e23;
    // transform-origin: left;
    transition: height 0.25s;
    z-index: -1;
  }

  &:hover::after {
    height: 100px;
  }

  &.is-active {
    border-bottom: solid 3px #6c0e23;
  }
}

#go-up {
  bottom: -0;
  right: 2%;
  position: fixed;
  width: 50px;
  height: 0;
  // background-color: $brand-primary;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;

  &:hover {
    // height: 60px;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.icon-up {
  display: none;
}

i {
  // transition: 0.5s;
  color: white;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


@media (max-width: 1024px) {
  .outer-nav-mobile {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  // .inner-nav {
  //   position: relative;
  // }

  .nav-btn {
    height: 50px;

    &:hover::after {
      height: 50px;
    }

    &.is-active {
      background-color: #6c0e23;
      color: white;
    }
  }

  .outer-nav {
    display: none;
  }

  .icon-nav {
    img {
      height: 20px;
    }
  }
}
