<section class="container">
  <div class="outer-nav">
    <div class="inner-nav">
      <div class="row">
        <div routerLink="/" class="nav-btn icon-nav grid-2 grid-3@tablet">
          <img src="../../../assets/img/icons/home2.png">
        </div>
        <div class="grid-8 grid-4@tablet"></div>
        <div class="grid-2 grid-3@tablet">
          <div routerLink="/work" routerLinkActive="is-active" class="nav-btn">WORK</div>
        </div>
        <div class="grid-2 grid-3@tablet">
          <div routerLink="/about" routerLinkActive="is-active" class="nav-btn">ABOUT</div>
        </div>
        <div class="grid-2 grid-3@tablet">
          <div routerLink="/contact" routerLinkActive="is-active" class="nav-btn">CONTACT</div>
        </div>
      </div>
    </div>
  </div>

  <div class="outer-nav-mobile">
    <div class="inner-nav">
      <div class="row">
        <div routerLink="/" class="nav-btn icon-nav grid-4@tablet grid-4@mobile" >
          <img src="../../../assets/img/icons/home2.png">
        </div>
        <div routerLink="/work" routerLinkActive="is-active" class="nav-btn icon-nav grid-4@tablet grid-4@mobile">
          <img src="../../../assets/img/nav/settings-work-tool.png">
        </div>
        <div routerLink="/about" routerLinkActive="is-active" class="nav-btn icon-nav grid-4@tablet grid-4@mobile">
          <img src="../../../assets/img/nav/man-user.png">
        </div>
        <div routerLink="/contact" routerLinkActive="is-active" class="nav-btn icon-nav grid-4@tablet grid-4@mobile">
          <img src="../../../assets/img/nav/old-handphone.png">
        </div>
      </div>
    </div>
  </div>
</section>

<div id="go-up" (click)="goUp()">
  <div class="icon-up">
    <i class="fa fa-chevron-up"></i>
  </div>
</div>
