@import "variables";
//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
// .button {
//   width: 100%;
//   display: inline-block;
//   margin: 0;
//   padding: 1 rem;
//   line-height: $input-height-base;
//   font-family: $font-family-base;
//   font-size: $font-size-base;
//   text-align: center;
//   vertical-align: middle;
//   border-width: $btn-border-width;
//   border-style: solid;
//   border-radius: $border-radius-base;
//   white-space: nowrap;
//   touch-action: manipulation;
//   cursor: pointer;
//   outline: none;
//   transition: all 500ms;
//   text-decoration: none;
//   box-shadow: none;
//   outline: 0;
//   background-color: $brand-primary;
//   color: white;
//   &.button-small {
//     padding: 6px 10px;
//     line-height: 20px;
//     height: $input-height-small;
//     font-size: $font-size-base;
//   }
//   &.button-block {
//     width: 100%;
//     white-space: normal;
//     height: auto;
//   }
//   &.disabled,
//   &[disabled] {
//     cursor: $cursor-disabled;
//     opacity: 0.65;
//   }
// }

.button {
  width: 100%;
  // display: inline-block;
  // margin: 0;
  padding: 4px 1rem 4px 1rem;
  line-height: $input-height-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  text-align: center;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius-base;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
  outline: 0;
  color: white;
  background-color: $brand-primary;
  // background: linear-gradient(135deg, #79b743, #58b28d ),#85B24B;
  // background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  // color: $brand-success;
  font-weight: 350;
  border-color: $brand-primary;
  // border: none;
  &:hover {
    background-color: lighten($brand-primary, 10);
    // background-repeat:no-repeat;
    // color: $brand-primary;
    border-color: lighten($brand-primary, 10);
  }
  &:active {
    background-color: $brand-primary-second;
    border-color: $brand-primary-second;
  }
  &.button-small {
    padding: 6px 10px;
    line-height: 20px;
    height: $input-height-small;
    font-size: $font-size-base;
  }
  &.button-block {
    width: 100%;
    white-space: normal;
    height: auto;
  }
  &.disabled,
  &[disabled] {
    cursor: $cursor-disabled;
    opacity: 0.65;
  }
}



.button-group {
  .button+.button,
  .button+span {
    margin-left: 15px;
    margin-right: 0;
  }
}


.separ {
  margin: 15px 0 15px 0;
  border: 1px solid $brand-primary;
}
