/* --------- TYPO ------------- */
strong {
    font-weight: bold;
}

small, .small {
    color: $light-gray;
    font-size: 87%;
}

small.light {
  color: $lighter-gray;
  font-size: 87%;
}

/* --------- HEADERS ---------- */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $dark-gray;
    margin: 10px 0 10px 0;
    letter-spacing: 0.5px;
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  font-weight: bold;
  color: white;
  margin: 10px 0 10px 0;
}

p {
  color: $dark-gray;
  letter-spacing: 0.5px;
}

p.light {
  color: white;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

/* --------- HELPERS ---------- */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-muted {
    color: $gray;
}

.text-primary {
    color: $brand-primary;
}

.text-success {
    color: $brand-success;
}

.text-info {
    color: $brand-info;
}

.text-warning {
    color: $brand-warning;
}

.text-danger {
    color: $brand-danger;
}

.text-small {
    font-size: 80%;
}
