@import 'gridle/gridle';
@import 'gridle/settings-mixins';
@import 'gridle/gridle-flex';
@import 'grid-settings';

* {
    box-sizing: border-box;
}

.container {
    @include gridle_container();
    // max-width: 1640px;
    // margin: 0 0 0 5%;
    // position: relative;

    // max-width: 1420px;
    // margin: 0 auto;
    // position: relative;

    // padding: 0 10px 20px 10px;

    // margin-right: auto; /* 1 */
    // margin-left:  auto; /* 1 */

    // max-width: 1640px; /* 2 */
    // background-color: wheat;

    max-width: 1640px;
    margin: 0 auto;
    @include gridle_generate_classes();
}
